## Content-Based Fitering Recommendation System


#### In this type of recommendation system I'll be merging 2 datasets and forming a new one that's suitable for the required algorithms

In [2]:
#import pandas and numpy libraries
import pandas as pd
import numpy as np
from ast import literal_eval

In [3]:
# Read the csv file
books_original = pd.read_csv('dataset/bx_271380_books.csv', sep=';', error_bad_lines=False, encoding="latin-1")

C:\Users\almud\AppData\Local\Temp\ipykernel_2400\177235090.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books_original = pd.read_csv('dataset/bx_271380_books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\almud\AppData\Local\Temp\ipykernel_2400\177235090.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_original = pd.read_csv('dataset/bx_271380_books.csv', sep=';', error_bad_lines=False, encoding="latin-1")

In [4]:
#display the first 5 rows of the dataframe
books_original.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [5]:
#extract data from csv file
books_df = pd.read_csv('https://raw.githubusercontent.com/malcolmosh/goodbooks-10k/master/books_enriched.csv', index_col=[0], converters={"genres": literal_eval})

In [6]:
books_df.head(1)

,index,authors,average_rating,best_book_id,book_id,books_count,description,genres,goodreads_book_id,image_url,...,ratings_3,ratings_4,ratings_5,ratings_count,small_image_url,title,work_id,work_ratings_count,work_text_reviews_count,authors_2
0,0,['Suzanne Collins'],4.34,2767052,1,272,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,"[young-adult, fiction, fantasy, science-fictio...",2767052,https://images.gr-assets.com/books/1447303603m...,...,560092,1481305,2706317,4780653,https://images.gr-assets.com/books/1447303603s...,"The Hunger Games (The Hunger Games, #1)",2792775,4942365,155254,['Suzanne Collins']

In [7]:
#Display the first book's description of the first book
books_df['description'][0]

"WINNING MEANS FAME AND FORTUNE.LOSING MEANS CERTAIN DEATH.THE HUNGER GAMES HAVE BEGUN. . . .In the ruins of a place once known as North America lies the nation of Panem, a shining Capitol surrounded by twelve outlying districts. The Capitol is harsh and cruel and keeps the districts in line by forcing them all to send one boy and once girl between the ages of twelve and eighteen to participate in the annual Hunger Games, a fight to the death on live TV.Sixteen-year-old Katniss Everdeen regards it as a death sentence when she steps forward to take her sister's place in the Games. But Katniss has been close to dead before—and survival, for her, is second nature. Without really meaning to, she becomes a contender. But if she is to win, she will have to start making choices that weight survival against humanity and life against love."

In [8]:
#Display the first book's genres
books_df['genres'][0]

['young-adult', 'fiction', 'fantasy', 'science-fiction', 'romance']

In [9]:
#Compare the 2 dataframes by Book-Title from the "books_original" dataframe and  title from the "books_df" dataframe
books_original['Book-Title'].isin(books_df['title']).value_counts()

False    265124
True       6236
Name: Book-Title, dtype: int64

In [10]:
#Display rows count with null genres
books_df[books_df['genres'].isnull()].shape

(0, 29)

In [11]:
#Display rows count with null description
books_df[books_df['description'].isnull()].shape

(57, 29)

In [12]:
#Drop all rows with null genres or description
books_df.dropna(subset=['genres', 'description'], inplace=True)

In [13]:
#Shape of the dataframe after dropping rows with null genres or description
books_df.shape

(9943, 29)

In [14]:
#drop the rows that are not in the "books_df" dataframe
books = books_original[books_original['Book-Title'].isin(books_df['title'])]

In [15]:
#display the length of the dataframe
len(books)

6196

In [16]:
#Add the columns "description" and "genres" from the "books_df" dataframe to the "books" dataframe 
#if the "Book-Title" from the "books" dataframe is equal to the "title" from the "books_df" dataframe
books['description'] = books.apply(lambda row: books_df[books_df['title'] == row['Book-Title']]['description'].values[0], axis=1)
#Do the same for the "genres" column
books['genres'] = books.apply(lambda row: books_df[books_df['title'] == row['Book-Title']]['genres'].values[0], axis=1)

C:\Users\almud\AppData\Local\Temp\ipykernel_2400\629608149.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books['description'] = books.apply(lambda row: books_df[books_df['title'] == row['Book-Title']]['description'].values[0], axis=1)
C:\Users\almud\AppData\Local\Temp\ipykernel_2400\629608149.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books['genres'] = books.apply(lambda row: books_df[books_df['title'] == row['Book-Title']]['genres'].values[0], axis=1)

In [17]:
len(books)

6196

In [18]:
#Display the first 5 rows of the dataframe
books.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,description,genres
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,Winnie and Helen have kept each other's worst ...,"[fiction, historical-fiction, contemporary]"
18,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"In a plush Virginia office, a rich, angry old ...","[fiction, thriller, mystery, suspense, crime]"
20,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,The Onion has quickly become the world's most ...,"[history, nonfiction]"
27,0345402871,Airframe,Michael Crichton,1997,Ballantine Books,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,The twin jet plane en route to Denver from Hon...,"[fiction, thriller, mystery, science-fiction, ..."
28,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,"In an Arizona desert, a man wanders in a daze,...","[science-fiction, fiction, thriller, historica..."

In [19]:
#Format books dataframe and restart it from index 0
books = books.reset_index(drop=True)

In [20]:
books.shape

(6196, 10)

In [21]:
books.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,description,genres
0,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,Winnie and Helen have kept each other's worst ...,"[fiction, historical-fiction, contemporary]"
1,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"In a plush Virginia office, a rich, angry old ...","[fiction, thriller, mystery, suspense, crime]"
2,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,The Onion has quickly become the world's most ...,"[history, nonfiction]"
3,0345402871,Airframe,Michael Crichton,1997,Ballantine Books,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,The twin jet plane en route to Denver from Hon...,"[fiction, thriller, mystery, science-fiction, ..."
4,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,"In an Arizona desert, a man wanders in a daze,...","[science-fiction, fiction, thriller, historica..."

In [22]:
#Let's check if there's any null values in the dataframe
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
description            0
genres                 0
dtype: int64

### Remove all kind of duplications:

In [23]:
#Drop all duplicates rows and keep the first occurence
books.drop_duplicates(subset=['Book-Title'], keep='first', inplace=True)

In [24]:
books.shape

(2276, 10)

In [25]:
books.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,description,genres
0,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,Winnie and Helen have kept each other's worst ...,"[fiction, historical-fiction, contemporary]"
1,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"In a plush Virginia office, a rich, angry old ...","[fiction, thriller, mystery, suspense, crime]"
2,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,The Onion has quickly become the world's most ...,"[history, nonfiction]"
3,0345402871,Airframe,Michael Crichton,1997,Ballantine Books,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,The twin jet plane en route to Denver from Hon...,"[fiction, thriller, mystery, science-fiction, ..."
4,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,"In an Arizona desert, a man wanders in a daze,...","[science-fiction, fiction, thriller, historica..."

In [26]:
#remove - in genres
books['genres'] = books['genres'].apply(lambda x: [i.replace('-', '') for i in x])
#Remove the " from the start and end of the genres
books['genres'] = books['genres'].apply(lambda x: [i.replace('"', '') for i in x])
#remove the " from the start and end of the description
books['description'] = books['description'].apply(lambda x: x.replace('"', ''))

In [27]:
#replace [ by { and } by ] from the genres column
books['genres'] = books['genres'].apply(lambda x: str(x).replace('[', '{').replace(']', '}'))
#remove ' in the genres column
books['genres'] = books['genres'].str.replace("'", "")

In [28]:
books.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,description,genres
0,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,Winnie and Helen have kept each other's worst ...,"{fiction, historicalfiction, contemporary}"
1,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"In a plush Virginia office, a rich, angry old ...","{fiction, thriller, mystery, suspense, crime}"
2,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,The Onion has quickly become the world's most ...,"{history, nonfiction}"
3,0345402871,Airframe,Michael Crichton,1997,Ballantine Books,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,The twin jet plane en route to Denver from Hon...,"{fiction, thriller, mystery, sciencefiction, s..."
4,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,"In an Arizona desert, a man wanders in a daze,...","{sciencefiction, fiction, thriller, historical..."

In [29]:
#download the books dataframe to a csv file
books.to_csv('dataset/books.csv', index=False)

#### Let's format some variables of the dataset

In [30]:
#Split the description column into words
books['description'] = books['description'].apply(lambda x:x.split())

In [31]:
#Test the function
#books.iloc[0]['description']
books['description'][0]

['Winnie',
 'and',
 'Helen',
 'have',
 'kept',
 'each',
 "other's",
 'worst',
 'secrets',
 'for',
 'more',
 'than',
 'fifty',
 'years.',
 'Now,',
 'because',
 'she',
 'believes',
 'she',
 'is',
 'dying,',
 'Helen',
 'wants',
 'to',
 'expose',
 'everything.',
 'And',
 'Winnie',
 'angrily',
 'determines',
 'that',
 'she',
 'must',
 'be',
 'the',
 'one',
 'to',
 'tell',
 'her',
 'daughter,',
 'Pearl,',
 'about',
 'the',
 'past—including',
 'the',
 'terrible',
 'truth',
 'even',
 'Helen',
 'does',
 'not',
 'know.',
 'And',
 'so',
 'begins',
 "Winnie's",
 'story',
 'of',
 'her',
 'life',
 'on',
 'a',
 'small',
 'island',
 'outside',
 'Shanghai',
 'in',
 'the',
 '1920s,',
 'and',
 'other',
 'places',
 'in',
 'China',
 'during',
 'World',
 'War',
 'II,',
 'and',
 'traces',
 'the',
 'happy',
 'and',
 'desperate',
 'events',
 'that',
 'led',
 'to',
 "Winnie's",
 'coming',
 'to',
 'America',
 'in',
 '1949.']

In [32]:
#Let's remove: punctuations and spaces
#1. From genres column
#2. From authors column
#3. From publisher column

#1. From genres column
books['genres'] = books['genres'].apply(lambda x: [i.replace(' ', '') for i in x])
books['genres'] = books['genres'].apply(lambda x: [i.replace('-', '') for i in x])

#2. From authors column
books['Book-Author'] = books['Book-Author'].apply(lambda x: x.replace(':', ' '))
books['Book-Author'] = books['Book-Author'].apply(lambda x: x.replace('-', ' '))
#convert authors column to array
books['Book-Author'] = books['Book-Author'].apply(lambda x: x.split())


#3. From publisher column
books['Publisher'] = books['Publisher'].apply(lambda x: x.replace(':', ' '))
books['Publisher'] = books['Publisher'].apply(lambda x: x.replace('-', ''))
#convert publisher column to array
books['Publisher'] = books['Publisher'].apply(lambda x: x.split())

In [33]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,description,genres
0,0399135782,The Kitchen God's Wife,"[Amy, Tan]",1991,"[Putnam, Pub, Group]",http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,"[Winnie, and, Helen, have, kept, each, other's...","[{, f, i, c, t, i, o, n, ,, , h, i, s, t, o, r..."
1,0440234743,The Testament,"[John, Grisham]",1999,[Dell],http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"[In, a, plush, Virginia, office,, a, rich,, an...","[{, f, i, c, t, i, o, n, ,, , t, h, r, i, l, l..."

In [34]:
books.shape

(2276, 10)

In [35]:
#Rename Book-Title column to title
books.rename(columns={'Book-Title':'title'}, inplace=True)
#Rename Book-Author column to author
books.rename(columns={'Book-Author':'author'}, inplace=True)
#Rename Publisher column to publisher
books.rename(columns={'Publisher':'publisher'}, inplace=True)

In [36]:
books.head(2)

,ISBN,title,author,Year-Of-Publication,publisher,Image-URL-S,Image-URL-M,Image-URL-L,description,genres
0,0399135782,The Kitchen God's Wife,"[Amy, Tan]",1991,"[Putnam, Pub, Group]",http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,"[Winnie, and, Helen, have, kept, each, other's...","[{, f, i, c, t, i, o, n, ,, , h, i, s, t, o, r..."
1,0440234743,The Testament,"[John, Grisham]",1999,[Dell],http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"[In, a, plush, Virginia, office,, a, rich,, an...","[{, f, i, c, t, i, o, n, ,, , t, h, r, i, l, l..."

In [37]:
#Filter the books dataframe: add image_url_s, image_url_m, image_url_l columns
#books = books[['ISBN','title', 'author', 'publisher', 'description', 'genres', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']]
final_books = books[['ISBN','title', 'author', 'publisher', 'description', 'genres', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']]

#### I'll create tags for each movie to faciliate the recommendation

In [38]:
#Let's create the tags for the books from "title", "author", "publisher", "description" and  "genres" columns
final_books['tags'] = books['author'] + books['publisher'] + books['description'] + books['genres']

In [39]:
final_books.head(2)

,ISBN,title,author,publisher,description,genres,Image-URL-S,Image-URL-M,Image-URL-L,tags
0,0399135782,The Kitchen God's Wife,"[Amy, Tan]","[Putnam, Pub, Group]","[Winnie, and, Helen, have, kept, each, other's...","[{, f, i, c, t, i, o, n, ,, , h, i, s, t, o, r...",http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,"[Amy, Tan, Putnam, Pub, Group, Winnie, and, He..."
1,0440234743,The Testament,"[John, Grisham]",[Dell],"[In, a, plush, Virginia, office,, a, rich,, an...","[{, f, i, c, t, i, o, n, ,, , t, h, r, i, l, l...",http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,"[John, Grisham, Dell, In, a, plush, Virginia, ..."

In [40]:
#Convert the tags column to string
final_books['tags'] = final_books['tags'].apply(lambda x: ' '.join(x))

In [41]:
#first book tags
final_books['tags'][0]

"Amy Tan Putnam Pub Group Winnie and Helen have kept each other's worst secrets for more than fifty years. Now, because she believes she is dying, Helen wants to expose everything. And Winnie angrily determines that she must be the one to tell her daughter, Pearl, about the past—including the terrible truth even Helen does not know. And so begins Winnie's story of her life on a small island outside Shanghai in the 1920s, and other places in China during World War II, and traces the happy and desperate events that led to Winnie's coming to America in 1949. { f i c t i o n ,  h i s t o r i c a l f i c t i o n ,  c o n t e m p o r a r y }"

In [42]:
#Convert the tags column to lowercase
final_books['tags'] = final_books['tags'].apply(lambda x: x.lower())

In [43]:
#Remove the punctuation from the tags column
final_books['tags'] = final_books['tags'].str.replace('[^\w\s]','')

C:\Users\almud\AppData\Local\Temp\ipykernel_2400\1215373354.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  final_books['tags'] = final_books['tags'].str.replace('[^\w\s]','')

In [44]:
#first book tags
final_books['tags'][0]

'amy tan putnam pub group winnie and helen have kept each others worst secrets for more than fifty years now because she believes she is dying helen wants to expose everything and winnie angrily determines that she must be the one to tell her daughter pearl about the pastincluding the terrible truth even helen does not know and so begins winnies story of her life on a small island outside shanghai in the 1920s and other places in china during world war ii and traces the happy and desperate events that led to winnies coming to america in 1949  f i c t i o n   h i s t o r i c a l f i c t i o n   c o n t e m p o r a r y '

### Let's use the NLK Toolkit to process the tags

In [45]:
import nltk

In [46]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [47]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [48]:
ps.stem('sahring')

'sahr'

In [49]:
ps.stem('shared')

'share'

In [50]:
ps.stem('shares')

'share'

##### Lets convert a collection of text documents to a matrix of token counts. Using the Count Vectorization - scikit-learn (One Hot-Encoding)

In [51]:
import sklearn

#sklearn is a machine learning library that provides 
# a range of supervised and unsupervised learning algorithms via a consistent interface in Python.

In [52]:
#Testing purpose
#sklearn.__version__
print(sklearn.__version__)

1.1.3

In [53]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=6000, stop_words='english')

##### Convert the tags column to matrix of tokens

In [54]:
tags_matrix = cv.fit_transform(final_books['tags']).toarray()

In [55]:
tags_matrix.shape

(2276, 6000)

In [56]:
tags_matrix[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [57]:
tags_len = len(cv.get_feature_names())

C:\Users\almud\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [58]:
from sklearn.metrics.pairwise import cosine_similarity

In [59]:
similarity = cosine_similarity(tags_matrix)

In [60]:
similarity.shape

(2276, 2276)

In [61]:
similarity[0]

array([1.        , 0.02990743, 0.        , ..., 0.08613795, 0.08417256,
       0.05200314])

In [62]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:11]

[(307, 0.19531072666281962),
 (712, 0.1773271170602693),
 (746, 0.17255919256291524),
 (577, 0.16343011261515336),
 (765, 0.1494406444160154),
 (334, 0.14867525836251314),
 (2242, 0.14803422705323477),
 (244, 0.14746845304722261),
 (1869, 0.14694367167412903),
 (208, 0.14508582304931122)]

#### Function to perform the recommendation:

In [63]:
def recommend(book, number_of_books):
    #if the book is not in the dataframe
    if book not in final_books['title'].unique():
        return 'Book not in the database.'
    else:
        #get the index of the book in the dataframe
        book_index = final_books[final_books['title'] == book].index[0]
        #get the list of similar books
        distances = similarity[book_index]
        #sort the list
        books_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:number_of_books+1]
        
        for i in books_list:
            print(final_books.iloc[i[0]].title)

In [64]:
#function to get recommended book information[title, image, description, author, publisher, genres]
def get_book_info(book):
    #if the book is not in the dataframe
    if book not in final_books['title'].unique():
        return 'Book not in the database.'
    else:
        #get the index of the book in the dataframe
        book_index = final_books[final_books['title'] == book].index[0]
        #get the book information
        book_info = final_books.iloc[book_index]
        return book_info

In [65]:
get_book_info('The Testament')

ISBN                                                  0440234743
title                                              The Testament
author                                           [John, Grisham]
publisher                                                 [Dell]
description    [In, a, plush, Virginia, office,, a, rich,, an...
genres         [{, f, i, c, t, i, o, n, ,, , t, h, r, i, l, l...
Image-URL-S    http://images.amazon.com/images/P/0440234743.0...
Image-URL-M    http://images.amazon.com/images/P/0440234743.0...
Image-URL-L    http://images.amazon.com/images/P/0440234743.0...
tags           john grisham dell in a plush virginia office a...
Name: 1, dtype: object

In [66]:
#Let's test the function
recommend('The Testament', 10)

The Power of Now: A Guide to Spiritual Enlightenment
Void Moon
Kindred
Moonlight Becomes You
Bloodline
Wasted: A Memoir of Anorexia and Bulimia
Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch
Disclosure
Millions of Cats
The King of Torts

In [67]:
book_name = input("Enter the name of the book: ")
recommendation_count = int(input("Enter the number of recommendations you want: "))
recommend(book_name, recommendation_count)

The Power of Now: A Guide to Spiritual Enlightenment
Void Moon
Kindred
Moonlight Becomes You
Bloodline
Wasted: A Memoir of Anorexia and Bulimia
Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch
Disclosure
Millions of Cats
The King of Torts
I Am Legend
Escape
Night School
Birds of America
The Confession
My Cousin Rachel
One Summer
Moloka'i
Shadow Fires
Back Roads

In [85]:
import pickle

In [86]:
#pickle.dump(final_books, open('interface/app/model/final_books.pkl', 'wb'))

In [88]:
pickle.dump(final_books.to_dict(), open('interface/app/model/final_books.pkl', 'wb'))

In [ ]:
final_books.to_dict()

In [ ]:
pickle.dump(similarity, open('interface/app/model/similarity-0.1.0.pkl', 'wb'))