**1. Import numpy and pandas libraries**

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Test the code below by printing version of pandas and numpy
print('Pandas Version: '+pd.__version__)
print('Numpy Version: '+np.__version__)

Pandas Version: 1.4.4
Numpy Version: 1.24.1

**2. Load datasets**

In [3]:
# Read the data
Books = pd.read_csv('dataset/bx_271380_books.csv', on_bad_lines='skip', sep=';', encoding='latin-1')
Users = pd.read_csv('dataset/bx_278860_users.csv', on_bad_lines='skip', sep=';', encoding='latin-1')
Ratings = pd.read_csv('dataset/bx_1149781_book_ratings.csv', on_bad_lines='skip', sep=';', encoding='latin-1')

C:\Users\almud\AppData\Local\Temp\ipykernel_31436\1522618593.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  Books = pd.read_csv('dataset/bx_271380_books.csv', on_bad_lines='skip', sep=';', encoding='latin-1')

In [4]:
#Test the code below by printing the first 2 rows of each dataset
Books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [5]:
Users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [6]:
Ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [7]:
name_ratings = pd.merge(Books, Ratings, on='ISBN')

In [8]:
name_ratings.head(4)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8

In [9]:
x = name_ratings.groupby('User-ID').count()['Book-Rating'] > 200
user_rating_count_df = x[x].index

In [10]:
user_rating_count_df

Int64Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,
              6323,   6543,
            ...
            271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427,
            277639, 278418],
           dtype='int64', name='User-ID', length=811)

In [11]:
filtered_ratings = name_ratings[name_ratings['User-ID'].isin(user_rating_count_df)]

In [12]:
filtered_ratings

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
6,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,85526,0
7,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,96054,0
10,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,177458,0
21,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,110912,10
...,...,...,...,...,...,...,...,...,...,...
1031124,0231128444,Slow Food(The Case For Taste),Carlo Petrini,2003,Columbia University Press,http://images.amazon.com/images/P/0231128444.0...,http://images.amazon.com/images/P/0231128444.0...,http://images.amazon.com/images/P/0231128444.0...,275970,0
1031125,0520242335,Strong Democracy : Participatory Politics for ...,Benjamin R. Barber,2004,University of California Press,http://images.amazon.com/images/P/0520242335.0...,http://images.amazon.com/images/P/0520242335.0...,http://images.amazon.com/images/P/0520242335.0...,275970,0
1031126,0762412119,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Allan Armitage,2002,Running Press Book Publishers,http://images.amazon.com/images/P/0762412119.0...,http://images.amazon.com/images/P/0762412119.0...,http://images.amazon.com/images/P/0762412119.0...,275970,0
1031127,1582380805,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",2001,Golden Guides from St. Martin's Press,http://images.amazon.com/images/P/1582380805.0...,http://images.amazon.com/images/P/1582380805.0...,http://images.amazon.com/images/P/1582380805.0...,275970,0
1031128,1845170423,Cocktail Classics,David Biggs,2004,Connaught,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...,275970,7

In [13]:
#Take the first 50 books with the highest rating count
y = filtered_ratings.groupby('Book-Title').count()['Book-Rating'] >= 50

In [14]:
#Create a new dataframe with the books that have a rating count of 50 or more
popular_books_df = y[y].index

In [15]:
popular_books_df

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)

In [16]:
final_ratings = filtered_ratings[filtered_ratings['Book-Title'].isin(popular_books_df)]

In [17]:
final_ratings

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
31,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,11676,9
33,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,36836,0
34,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,46398,9
38,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,113270,0
39,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,113519,0
...,...,...,...,...,...,...,...,...,...,...
1028414,1878702831,Echoes,Nancy Morse,1992,Meteor Publishing Corporation,http://images.amazon.com/images/P/1878702831.0...,http://images.amazon.com/images/P/1878702831.0...,http://images.amazon.com/images/P/1878702831.0...,238781,0
1028600,0394429869,I Know Why the Caged Bird Sings,Maya Angelou,1996,Random House,http://images.amazon.com/images/P/0394429869.0...,http://images.amazon.com/images/P/0394429869.0...,http://images.amazon.com/images/P/0394429869.0...,239594,8
1028602,0449001164,The Promise,CHAIM POTOK,1997,Ballantine Books,http://images.amazon.com/images/P/0449001164.0...,http://images.amazon.com/images/P/0449001164.0...,http://images.amazon.com/images/P/0449001164.0...,239594,7
1028815,0743527631,The Pillars of the Earth,Ken Follett,2002,Encore,http://images.amazon.com/images/P/0743527631.0...,http://images.amazon.com/images/P/0743527631.0...,http://images.amazon.com/images/P/0743527631.0...,240144,0
1028817,0745168086,The Handmaid's Tale,Margaret Atwood,1999,Chivers Audio Books,http://images.amazon.com/images/P/0745168086.0...,http://images.amazon.com/images/P/0745168086.0...,http://images.amazon.com/images/P/0745168086.0...,240144,0

**Let's use the pivot table to display the (User-ID, ISBN, Book-Title(Book-Rating))**

In [18]:
#Create a pivot table with the user id as the index, the book isbn and title as the columns and the book rating as the values
user_book_rating_pt = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating').fillna(0)

In [19]:
#form a table with book and user rating values as columns and rows respectively
user_book_rating_pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [20]:
book_isbn_title_user_rating_pt = final_ratings.pivot_table(index=['ISBN','Book-Title'], columns='User-ID', values='Book-Rating').fillna(0)

In [21]:
book_isbn_title_user_rating_pt.head(4)

,User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
ISBN,Book-Title,,,,,,,,,,,,,,,,,,,,,
0001047973,Brave New World,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0006177379,Secrets,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0020697406,The Lost World,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
002542730X,Politically Correct Bedtime Stories: Modern Tales for Our Life and Times,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0

In [22]:
#Print the book isbn only:
book_isbn_title_user_rating_pt.index.get_level_values(0)

Index(['0001047973', '0006177379', '0020697406', '002542730X', '002542730x',
       '0060008024', '0060008032', '006001203X', '0060086246', '0060090367',
       ...
       'B00001IVC7', 'B00001U0CP', 'B00006JO6O', 'B00007CWQC', 'B00008WFXL',
       'B00009EF82', 'B00009NDAN', 'B0000T6KHI', 'B0001PIOX4', 'B000234N76'],
      dtype='object', name='ISBN', length=2136)

## Implementation of similarity using scikit-learn library

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
similarity_scores = cosine_similarity(book_isbn_title_user_rating_pt)

In [25]:
similarity_scores.shape

(2136, 2136)

In [26]:
similarity_scores[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [27]:
#Sort the similarity scores in descending order
sorted(list(enumerate(similarity_scores[0])), reverse=True, key=lambda x:x[1])[1:11]

[(11, 1.0),
 (235, 1.0),
 (1252, 1.0),
 (1755, 1.0),
 (115, 0.8320502943378436),
 (1837, 0.8192319205190405),
 (84, 0.7071067811865475),
 (380, 0.6013168224022631),
 (1726, 0.5773502691896258),
 (992, 0.5758526005989556)]

#### Funciton to perform the recommendation system

In [28]:
book_isbn_title_user_rating_pt.index

MultiIndex([('0001047973', ...),
            ('0006177379', ...),
            ('0020697406', ...),
            ('002542730X', ...),
            ('002542730x', ...),
            ('0060008024', ...),
            ('0060008032', ...),
            ('006001203X', ...),
            ('0060086246', ...),
            ('0060090367', ...),
            ...
            ('B00001IVC7', ...),
            ('B00001U0CP', ...),
            ('B00006JO6O', ...),
            ('B00007CWQC', ...),
            ('B00008WFXL', ...),
            ('B00009EF82', ...),
            ('B00009NDAN', ...),
            ('B0000T6KHI', ...),
            ('B0001PIOX4', ...),
            ('B000234N76', ...)],
           names=['ISBN', 'Book-Title'], length=2136)

In [29]:
#book_titles = [user_book_rating_pt.index[i][1] for i in range(len(user_book_rating_pt.index))]

In [30]:
def recommend_books(book_isbn, recommendation_count):
    #if the book is not in the dataset, return
    if book_isbn not in book_isbn_title_user_rating_pt.index.get_level_values(0):
        print("Sorry!!! this book does not exist in the dataset!")
        return
    book_index = book_isbn_title_user_rating_pt.index.get_level_values(0).get_loc(book_isbn)
    similar_books = list(enumerate(similarity_scores[book_index]))
    similar_books = sorted(similar_books, key=lambda x:x[1], reverse=True)
    similar_books = similar_books[1:recommendation_count + 1]
    # book_indices = [i[0] for i in similar_books]
    #return user_book_title_rating_pt.index[book_indices]
    # Print the names of the books with ordered list
    #Get the book title using the book isbn
    book_title = book_isbn_title_user_rating_pt.index[book_index][1]
    print(f'The top {recommendation_count} books similar to "{book_title}" are:' )
    #i = 1
    for book in similar_books:
        #Get the book ISBN only:
        print(book_isbn_title_user_rating_pt.index[book[0]][0])
        #print(str(i) + '. ' + user_book_title_rating_pt.index[book[0]])
        #i += 1
        #Store ISBN of the recommended books in a list
    # recommended_books = [book_isbn_title_user_rating_pt.index[book[0]][0] for book in similar_books]
    # return recommended_books

0395082560
0312983271
0385302304
0394580567
0385311400
0345417623
0399143874
0380789019
0385720955
0385308426

In [31]:
book_isbn = input("Enter the book ISBN: ")
recommendation_count = int(input("Enter the number of recommendations you want: "))
recommend_books(book_isbn, recommendation_count)

Sorry!!! this book does not exist in the dataset!


## Deployment Part

#### 1. Import and install dependencies

In [32]:
%pip install sklearn

Requirement already satisfied: sklearn in c:\users\almud\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\almud\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sklearn) (1.1.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\almud\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn->sklearn) (1.24.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\almud\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn->sklearn) (1.9.3)
Requirement already satisfied: joblib>=1.0.0 in c:\users\almud\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn->sklearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\almud\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn->sklearn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
import pickle

#### 2. Save and Deploy Model

##### 2.1 Save the final books model

In [34]:
#pickle.dump(user_book_rating_pt.to_dict(), open('../app/model/user_book_rating_model.pkl', 'wb'))

In [36]:
pickle.dump(book_isbn_title_user_rating_pt.to_dict(), open('../app/model/book_isbn_title_user_rating_model-2.0.0.pkl', 'wb'))

#### 2.2 Save the recommendation (similarity) model

In [37]:
pickle.dump(similarity_scores, open('../app/model/collaborative-filtering-simularity-2.0.0.pkl', 'wb'))

#### 3. Score Against Deployed Model

In [38]:
#show the model evulation metrics

from sklearn.metrics import mean_squared_error
from math import sqrt

In [39]:
def rmse(y_true, y_pred):
    return sqrt(mean_squared_error(y_true, y_pred))

In [40]:
#test the function above
rmse([1,2,3,4,5], [1,2,3,4,5])

0.0